__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

mamba_artifacts/
artifacts/

volumetric_checkpoints*/
volumetric_logs*/
volumetric_results*/
ckpts_fullsup_mil_codebook/
logs_fullsup_mil_codebook/
eval_results/
eval_patch_level_results*/

*.log